In [1]:
import pandas as pd
trainset = pd.read_csv('train.csv')
trainset = trainset.dropna()
trainset.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
count,79858.000000,79858.000000,79858.000000,79858.000000,79858.000000,79858.000000,79858.000000,79858.000000,79858.000000
mean,1400.766060,0.283829,0.459503,2.264820,25.848381,28.623970,9.590636,1.896441,0.189975
std,850.268301,0.450858,0.498360,0.461764,15.544704,12.391881,9.902990,0.701498,0.453187
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000,0.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000,0.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,37.000000,16.000000,2.000000,0.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000,2.000000

In [10]:
trainset.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1

In [3]:
x_train = trainset[trainset.columns[1:9]]
x_train.head()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,188,1,0,1,0,0.0,0,1
1,209,1,0,1,0,0.0,0,2
2,257,1,0,1,0,0.0,0,2
3,257,1,1,1,0,0.0,0,2
4,342,1,0,1,0,0.0,0,2

In [4]:
y_train = trainset[trainset.columns[-1]]
y_train

0        0
1        1
2        1
3        1
4        1
        ..
88853    0
88854    0
88855    0
88856    0
88857    0
Name: Crop_Damage, Length: 79858, dtype: int64

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
model = RandomForestClassifier()
param_grid = {'criterion' :('gini','entropy')}
model_cv = GridSearchCV(model, param_grid,scoring='accuracy', cv=5)
model_cv.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ('gini', 'entropy')}, scoring='accuracy')

In [6]:
testset = pd.read_csv('test.csv')
testset = testset.dropna()
testset.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
1,F00000007,410,1,1,1,0,0.0,0,2
2,F00000011,626,1,0,1,0,0.0,0,2
3,F00000013,731,1,0,1,0,0.0,0,2
4,F00000014,789,0,0,1,0,0.0,0,1
5,F00000015,851,0,1,1,0,0.0,0,2

In [7]:
x_test = testset[testset.columns[1:9]]
y_pred = model_cv.predict(x_test)

In [8]:
output = {'ID' : testset['ID'], 'Crop_Damage' : y_pred}
output = pd.DataFrame(output)
output

              ID  Crop_Damage
1      F00000007            1
2      F00000011            1
3      F00000013            2
4      F00000014            1
5      F00000015            0
...          ...          ...
59304  F00155934            0
59305  F00155937            0
59306  F00155940            0
59308  F00155943            0
59309  F00155944            0

[53417 rows x 2 columns]

In [9]:
output.to_csv('sample_submission.csv', index=False)